<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<configFiles relativeFolderPath="..\..\StarFighter\StarFighter\Assets\Scripts\">
      <File relativePath="Enemies.csv" niceName="Enemies"/>
      <File relativePath="Bot.csv" niceName="Bot"/>
      <File relativePath="EnemyPool.csv" niceName="EnemyPool"/>
      <File relativePath="Equipment.csv" niceName="Equipment"/>
      <File relativePath="FX.csv" niceName="FX"/>
      <File relativePath="Scenes.csv" niceName="Scenes"/>
      <File relativePath="Ship.csv" niceName="Ship"/>
      <File relativePath="Weapons.csv" niceName="Weapons"/>
      <File relativePath="Ammo.csv" niceName="Ammo"/>
    </configFiles>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>